html[lang="en"] body {
	direction: ltr;
	text-align: left;
}

.flags {
	float: left;
	margin: 10px 0 -10px 0;
}
html[lang="en"] .flags {
	float: right;
}
html[lang="en"] nav,
html[lang="en"] .nav,
html[lang="en"] footer {
	direction: rtl;
}
.flags li {
	float: left;
	list-style: none;
	margin-right: 3px;
}
.flags li a {
	float: left;
	border: 2px solid transparent;
}
.flags li a.active {
	border-color: #ccc;
}
.flags li img {
	float: left;
	width: 26px;
	height: 17px;
	object-fit: cover;
	border: 1px solid #ccc;
}

html[lang="en"] .fetchIps button:first-child {
	border-radius: 0 5px 5px 0;
}
html[lang="en"] .fetchIps button:last-child {
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #adadad;
	border-left: inherit;
}

html[lang="en"] .rangeSelector input[type="checkbox"],
html[lang="en"] .rangeSelector input[type="radio"] {
	float: left;
	margin-right: 10px;
	margin-left: 0;
}
html[lang="en"] .rangeSelector label,
html[lang="en"] .rangeSelector label {
	float: left;
	margin-right: 20px;
	margin-left: 0;
}