body {
	font: 14px vazir;
	padding: 85px 0 0 0;
}
input,
select,
textarea {
	direction: rtl;
	text-align: right;
	margin: 10px 0;
	width: 100%;
	resize: none;
}
button {
	width: 100%;
}

p {
	font-size: 15px;
	line-height: 27px;
}
ul li {
	font-size: 15px;
	line-height: 27px;
}

.navbar {
	float: right;
	width: 100%;
	border-radius: 0;
	background-color: #ff7900;
	border: none;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	padding: 22px 0;
	margin: 0 0 30px 0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
}
.navbar img {
	float: right;
	width: 32px;
	height: 15px;
	margin: 0 0 0 15px;
}
.navbar h1 {
	float: right;
	margin: 0;
	color: #ffffff;
	font-size: 17px;
	padding: 0;
}

.col-centered {
	float: none;
	margin: 0 auto;
}
.col-centered h3 {
	font-size: 22px;
	margin: 20px 0;
}

.input-group {
	float: right !important;
	width: 100%;
}
.input-group input.form-control {
	width: calc(100% - 100px) !important;
	float: left;
	margin: 0;
}
.input-group .input-group-btn {
	width: 100px !important;
	float: right;
}
.input-group .input-group-btn button {
	width: 100% !important;
	border-left: 0;
}

.dirLeft {
	direction: ltr;
	text-align: left;
}

.alert {
	margin: 20px 0;
}
.alert em {
	font-style: normal;
}

.table {
	margin: 0;
}
.table tr:first-child td {
	border-top: none;
}
.table td em {
	font-style: normal;
}

.nav-pills {
	margin: 0 0 12px 0;
}
.nav-pills>li a {
	padding: 2px 7px;
	font-size: 12px;
	border-radius: 25px;
	color: #454545;
}
.nav-pills>li a:focus,
.nav-pills>li a:hover,
.nav-pills>li.active a,
.nav-pills>li.active a:focus,
.nav-pills>li.active a:hover {
	background-color: #939393;
	color: #fff;
}

.scanner select {
	width: 40%!important;
	height: 34px;
}
.scanner .input-group-addon {
	width: 40%!important;
	float: right;
	text-align: center;
	height: 34px;
	padding-right: 0;
	padding-left: 0;
	border-color: #ccc;
}
.scanner input {
	width: 20%!important;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;
}
.scanner .input-group-btn {
	width: 20%!important;
}

.modalBodyOverflow {
	max-height: 63vh;
	overflow: hidden;
	overflow-y: auto;
}

img[alt="loader"] {
	width: 15px;
	height: 10px;
	transform: rotate(180deg);
}

.table .copyItem {
	cursor: copy;
}

.betaVersion {
	float: right;
	width: 100%;
	margin: 10px 0 0 0;
}
.betaVersion.rangeSelector {
	margin: 0 0 5px 0;
}
.betaVersion.rangeSelector .clearfix {
	display: none;
}
.betaVersion input[type="checkbox"],
.betaVersion input[type="radio"] {
	float: right;
	width: 15px;
	height: 15px;
	margin: 3px 0 0 10px;
}
.betaVersion label {
	float: right;
	font-weight: normal;
	cursor: pointer;
}
.betaVersion.rangeSelector label {
	margin-left: 20px;
}

.none {
	display: none;
}

.fullBox {
	float: right;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.fullBox .rightSide {
	float: right;
	width: 160px;
}
.fullBox .rightSide img {
	width: 100%;
	height: 100%;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
}
.fullBox .leftSide {
	float: left;
	width: calc(100% - 170px);
}
.fullBox .leftSide textarea {
	height: 160px;
	margin: 0;
}
.fullBox .leftSide textarea[readonly] {
	background: #fff;
}

.form-group {
	float: right;
	width: 100%;
}
.form-group .form-control {
	width: 49%;
	float: right;
	margin: 0;
}
.form-group .form-control:first-child {
	width: 49%;
}
.form-group .form-control:last-child {
	float: left;
}

.dropdown-menu {
	right: -2px;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background-color: #ff7900;
}

.fetchIps select {
	float: right;
	width: 60% !important;
}
.fetchIps .input-group-btn {
	float: left;
	width: 33px !important;
}
.fetchIps .input-group-btn button {
	float: right;
	width: 100% !important;
}
.fetchIps button {
	width: 50%;
}
.fetchIps button:first-child {
	width: calc(100% - 34px);
	border-radius: 0 5px 5px 0;
}
.fetchIps button:last-child {
	width: 130px;
	border-radius: 5px 0 0 5px;
	border-right: transparent;
}
.fetchIps .open>.dropdown-menu {
	left: 0;
	right: inherit;
}

.minWidth {
	float: right;
	width: 100%;
	margin: -10px 0 0 0;
}
.minWidth input,
.minWidth select {
	width: 50%;
	float: left;
}
.minWidth select:first-child,
.minWidth input:first-child {
	border-radius: 3px 0 0 3px;
	border-right: transparent;
}
.minWidth select:last-child,
.minWidth input:last-child {
	border-radius: 0 3px 3px 0;
}
.xsWidth {
	float: right;
	width: 100%;
	margin: -10px 0 0 0;
}
.xsWidth input,
.xsWidth select {
	width: 33.33%;
	float: left;
	border-radius: 0;
}
.xsWidth select:first-child,
.xsWidth input:first-child {
	border-radius: 3px 0 0 3px;
	border-right: transparent;
}
.xsWidth select:last-child,
.xsWidth input:last-child {
	border-left: transparent;
	border-radius: 0 3px 3px 0;
}
.xsWidth.withSmallCenter select:first-child,
.xsWidth.withSmallCenter input:first-child {
	width: 95px;
}
.xsWidth.withSmallCenter select:nth-child(2),
.xsWidth.withSmallCenter input:nth-child(2) {
	width: 85px;
}
.xsWidth.withSmallCenter select:nth-child(3),
.xsWidth.withSmallCenter input:nth-child(3) {
	width: calc(100% - 260px);
}
.xsWidth.withSmallCenter select:last-child,
.xsWidth.withSmallCenter input:last-child {
	width: 80px;
}

p {
	font-size: 14px;
}
.orClass {
	float: right;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ededed;
	margin: 20px 0;
}
.orClass small {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: -9px;
	text-shadow: 0 0 7px #fff;
}

.switch {
	position: relative;
	display: inline-block;
	height: 26px;
	float: left;
	margin: 0 7px 5px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	border: 1px solid #aecede;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 25px;
	cursor: pointer;
}
input:checked + .slider {
	background-color: #d3e5ed;
}
.switch strong {
	float: right;
	margin: 3px 15px 0 15px;
	position: relative;
	z-index: 1;
	font-weight: 400;
	font-size: 13px;
	cursor: pointer;
}

.jsonOutput {
	width: 1px;
	height: 1px;
	border: none;
	outline: none;
	color: #fff;
	background: transparent;
	margin: 0;
	padding: 0;
}

.qrcode img {
	width: 100%;
	height: auto;
}

.modal-header .close {
	float: right;
	width: auto;
	margin: 0px 0 -7px 0;
	font-size: 30px;
}
.modal-footer button {
	float: right;
	width: 50%;
	margin-right: 0!important;
	margin-bottom: 5px!important;
}
.modal-footer button:nth-child(odd) {
	margin-left: 5px!important;
}
.modal-footer button:nth-child(even) {
	width: calc(50% - 5px)
}
.modal-body .alert {
	margin: 0;
}

.tooltip .tooltip-inner {
	font: 11px vazir;
}

footer {
	padding: 10px 0;
	/*position: fixed;
	bottom: 0;
	right: 0;*/
	float: right;
	width: 100%;
	line-height: 20px;
}
footer p {
	float: right;
	width: 100%;
	text-align: center;
	font-size: 13px;
}

@media(max-width:700px) {
	body,
	.container {
		padding-right: 0;
		padding-left: 0;
	}
	.fullBox .rightSide {
		width: 50%;
		padding-left: 10px;
	}
	.fullBox .leftSide {
		width: 50%;
	}
	.fullBox .leftSide textarea {
		height: 255px;
	}
}

@media(max-width:500px) {
	.betaVersion.rangeSelector .clearfix {
		display: block;
	}
	.fullBox .rightSide {
		width: 100%;
		padding-left: 0;
	}
	.fullBox .leftSide {
		width: 100%;
	}
	.fullBox .leftSide textarea {
		margin-top: 10px;
		height: 70px;
	}
}

@media(max-width:370px) {
	.xsWidth.withSmallCenter select:first-child,
	.xsWidth.withSmallCenter input:first-child {
		width: 50%;
	}
	.xsWidth.withSmallCenter select:nth-child(2),
	.xsWidth.withSmallCenter input:nth-child(2) {
		width: 50%;
	}
	.xsWidth.withSmallCenter select:nth-child(3),
	.xsWidth.withSmallCenter input:nth-child(3) {
		width: 50%;
		margin-top: -5px;
	}
	.xsWidth.withSmallCenter select:last-child,
	.xsWidth.withSmallCenter input:last-child {
		width: 50%;
		margin-top: -5px;
	}
}